@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello, World</h1>
    <h1 class="display-4">Version: 1.0.0 </h1>
    <h1 class="display-4">HostName, @Model.HostName </h1>
    <h1 class="display-4">Ip: @Model.Ip </h1>
    <p><a href="https://www.linkedin.com/in/estebanzavalap/">Check my linkedin profile </a>.</p>
</div>
